body {
    background-color: gray;
}

label {
    display: block;
    position: relative;
    width: 50px;
    height: 40px;
}

input {
    display: none;
}

.line {
    transition: all 0.5s ease-out;
    width: 50px;
    height: 10px;
    background-color: #fff
}

.first {
    position: absolute;
    top: 0;
    left: 0;
}
.center {
    position: absolute;
    top: 15px;
    left: 0;
}
.end {
    position: absolute;
    top: 30px;
    left: 0;
}

input:checked + label .first {
    top: 20px;
    left: 0;
    transform: rotate(45deg)
}
input:checked + label .center {
    top: 20px;
        left: 0;
        transform: rotate(45deg)
}
input:checked + label .end {
    top:20px;
    left: 0;
    transform: rotate(-45deg)
}