div {
    width: 80px;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px #000 solid;
}

div:active {
    background-color: yellow;
    border: 5px #000 solid;
}

body {
    display: flex;
    gap: 5px
}

* {
    box-sizing: border-box;
}