body {
    width: 100vw;
    height: 100vh;
    margin: 0;
}

div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light {
    background-color: #fff;
    color: #000;
}

#night {
    background-color: #000;
    color: #fff;
}

button {
    position: absolute;
    top: 0px;
    left: 0px;
}